* {margin:0; padding:0;}
header {color: #fff; text-align: center; background-color: black; padding:30px; margin-bottom: 50px;}
footer {color: #fff; text-align: center; background-color: black; padding:30px; margin-top: 50px;}
.header_link {text-decoration: none; }
.header_heading {max-width: 70%; margin:0 auto;}
.content {max-width: 70%; margin:0 auto; }
.header_link:hover {text-decoration: none;}